In [1]:
import pandas as pd

In [2]:
symbols = ['1333.T', '1332.T', '1605.T']

In [3]:
df_ = pd.read_csv("../SampleData//yfinance_1min_ex.csv" ,header=[0, 1], index_col=0)
df_.index = pd.to_datetime(df_.index, utc=True)
df_.iloc[:5]

                          1333.T                                  1605.T  \
                            Open High Low Close Adj Close Volume    Open
Datetime
2022-11-08 00:00:00+00:00    NaN  NaN NaN   NaN       NaN    NaN  1623.0
2022-11-08 00:01:00+00:00    NaN  NaN NaN   NaN       NaN    NaN  1626.0
2022-11-08 00:02:00+00:00    NaN  NaN NaN   NaN       NaN    NaN  1616.0
2022-11-08 00:03:00+00:00    NaN  NaN NaN   NaN       NaN    NaN  1615.0
2022-11-08 00:04:00+00:00    NaN  NaN NaN   NaN       NaN    NaN  1613.0

                                                                      1332.T  \
                             High     Low   Close Adj Close    Volume   Open
Datetime
2022-11-08 00:00:00+00:00  1629.0  1621.0  1627.0    1627.0       0.0  507.0
2022-11-08 00:01:00+00:00  1627.0  1615.0  1617.0    1617.0  152600.0  504.0
2022-11-08 00:02:00+00:00  1618.0  1613.0  1615.0    1615.0   62500.0  503.0
2022-11-08 00:03:00+00:00  1615.0  1612.0  1614.0    1614.0   52600.0  503.0
2022-11-08 00:04:00+00:00  1616.0  1613.0  1615.0    1615.0   46400.0  503.0


                            High    Low  Close Adj Close   Volume
Datetime
2022-11-08 00:00:00+00:00  507.0  503.0  504.0     504.0      0.0
2022-11-08 00:01:00+00:00  504.0  502.0  503.0     503.0  35800.0
2022-11-08 00:02:00+00:00  503.0  503.0  503.0     503.0   2600.0
2022-11-08 00:03:00+00:00  504.0  502.0  503.0     503.0  25700.0
2022-11-08 00:04:00+00:00  503.0  503.0  503.0     503.0    300.0

In [39]:
df = df_["1333.T"].copy()
df = df.reset_index()
df.iloc[:5]

                   Datetime  Open  High  Low  Close  Adj Close  Volume
0 2022-11-08 00:00:00+00:00   NaN   NaN  NaN    NaN        NaN     NaN
1 2022-11-08 00:01:00+00:00   NaN   NaN  NaN    NaN        NaN     NaN
2 2022-11-08 00:02:00+00:00   NaN   NaN  NaN    NaN        NaN     NaN
3 2022-11-08 00:03:00+00:00   NaN   NaN  NaN    NaN        NaN     NaN
4 2022-11-08 00:04:00+00:00   NaN   NaN  NaN    NaN        NaN     NaN

## determin time frame

In [54]:
index = df.index
delta = (index[1:] - index[:-1]).min()
frame = int(delta.total_seconds()/60)
frame

1

In [23]:
import datetime

In [40]:
start_date = datetime.datetime(year=2022, month=11, day=8, hour=0, tzinfo=datetime.timezone.utc)
delta = datetime.timedelta(minutes=1)

In [41]:
index = pd.Index([ start_date + delta*i for i in range(0, len(df))])
df.index = index
df.iloc[:5]

In [45]:
start_date + datetime.timedelta(minutes=60*24*7)

datetime.datetime(2022, 11, 15, 0, 0, tzinfo=datetime.timezone.utc)

In [56]:
datetime.datetime.utcfromtimestamp(631159200)

datetime.datetime(1990, 1, 1, 2, 0)